.underline {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 88%;
  transition: background-size 1s ease-in-out;
  animation-name: underline;
  animation-duration: 2s;
}

.underline:hover {
  background-size: 0.2em 100%;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.avatar {
  border-radius: 50%;
}
